services:
  - type: web
    name: foodspotsapp-frontend
    runtime: node
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: VITE_API_URL
        value: https://foodspotsapp.onrender.com
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
